[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
cryptg = "*"
pillow = "*"
aiohttp = "*"
hachoir = "*"
pyrage = "*"
openai = "*"

[dev-packages]
flameprof = "*"
scalene = "*"
ruff = "*"

[requires]
python_version = "3.13"
